.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TitleBox {
    width: 150px;
    height: 30px;
    background-color: #dcdcdc;
    margin: 0px;
    padding: 0px;
    border: 0.5px solid grey;
    text-align: center;
}

.Box {
    width: 150px;
    height: 30px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 0.5px solid grey;
    text-align: center;
}

.button {
    background-color: blueviolet;
    color: #4299E1;
}

.button:hover {
    color: #3182CE
}

.responsiveHStack {
    display: flex;
    flex-wrap: wrap;
}

.responsiveTable {
    flex-wrap: wrap;
    justify-content: center;
}

.responsiveTable th {
    background-color: #3182CE;
    color: white;
    text-align: center
}

.responsiveTable td {
    min-width: 250px;
    text-align: center
}

@media (max-width: 600px) {
    .responsiveHStack > * {
        width: 100%;
    }
}

.responsiveTableContainer {
    overflow-x: auto;
}

@media (max-width: 600px) {
    .responsiveTable {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .responsiveTable thead {
        display: none;
    }

    .responsiveTable tbody,
    .responsiveTable tr,
    .responsiveTable td {
        display: block;
    }

    .responsiveTable td {
        text-align: left;
        padding: 6px;
    }
}
